footer.footer
    .container.grid-footer
        div
            h3 Categories
            ul
                li
                    a(href='#') Electric Guitars
                li
                    a(href='#') Acoustic Guitars
                li
                    a(href='#') Accessories
                // ...
        div
            h3 About Us
            ul
                li
                    a(href='/about-us') Our Story
                li
                    a(href='/mission-vision') Our Mission and Vision
                // ...
        div
            h3 Support
            ul
                li
                    a(href='#') Contact Us
                li
                    a(href='#') FAQ
                li
                    a(href='#') Shipping Information
                // ...
    p &copy; 2023 | Eder Benites
