header
    h1.title
        span Guitar
        |  Store
nav.navigation
    ul.container.container-ul
        li
            a(href='/home') Home
        li
            a(href='/about') About Us
        li
            a(href='/products') Shop
        li
            a(href='/blog') Blog
        li
            a(href='/contact') Contact Us
