extends ./layout/index

block content
    main.main-content.container
        h2 About Us
        .about-content
            .image
                img(src='/img/about.webp' alt='About Us')
            .about-info
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                    | voluptatum, voluptate, quibusdam, quia voluptas quod quos
                    | exercitationem voluptatibus quae doloribus quidem. Quisquam
                    | voluptatum, voluptate, quibusdam, quia voluptas quod quos
                    | exercitationem voluptatibus quae doloribus quidem.
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                    | voluptatum, voluptate, quibusdam, quia voluptas quod quos
                    | exercitationem voluptatibus quae doloribus quidem. Quisquam
                    | voluptatum, voluptate, quibusdam, quia voluptas quod quos
                    | exercitationem voluptatibus quae doloribus quidem.
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                    | voluptatum, voluptate, quibusdam, quia voluptas quod quos
                    | exercitationem voluptatibus quae doloribus quidem. Quisquam
                    | voluptatum, voluptate, quibusdam, quia voluptas quod quos
                    | exercitationem voluptatibus quae doloribus quidem.
