extends ./layout/index

block content
    main.main-content.container
        h2 Our Blog
        section.blog-container
            .blog
                article.blog-article
                    h3 The Art of Guitar Setup: How to Get the Perfect Sound
                    .img-blog
                        img(src='/img/blog-1.jpg' alt='Blog 1')
                    .meta
                        p
                            | Date: 
                            span May 20, 2022
                        p
                            | Author: 
                            span Eder Benites
                    p.blog-text
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                        | voluptatum, voluptate, quibusdam, quia voluptas quod
                        | exercitationem quos voluptatibus quae doloribus quidem
                        | consequuntur. Quisquam voluptatum, voluptate, quibusdam, quia
                        | voluptas quod exercitationem quos voluptatibus quae doloribus
                        | quidem consequuntur.
                    .btn-blog
                        a.btn(href='#') Read More
                article.blog-article
                    h3 Exploring the World of Guitar Effects Pedals
                    .img-blog
                        img(src='/img/blog-2.jpg' alt='Blog 2')
                    .meta
                        p
                            | Date: 
                            span May 20, 2021
                        p
                            | Author: 
                            span Jose Lujan
                    p.blog-text
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                        | voluptatum, voluptate, quibusdam, quia voluptas quod
                        | exercitationem quos voluptatibus quae doloribus quidem
                        | consequuntur. Quisquam voluptatum, voluptate, quibusdam, quia
                        | voluptas quod exercitationem quos voluptatibus quae doloribus
                        | quidem consequuntur.
                    .btn-blog
                        a.btn(href='#') Read More
                article.blog-article
                    h3 Famous Guitars in Rock History: Icons and Legends
                    .img-blog
                        img(src='/img/blog-3.jpg' alt='Blog 3')
                    .meta
                        p
                            | Date: 
                            span Oct 30, 2023
                        p
                            | Author: 
                            span Mike Towers
                    p.blog-text
                        | Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
                        | voluptatum, voluptate, quibusdam, quia voluptas quod
                        | exercitationem quos voluptatibus quae doloribus quidem
                        | consequuntur. Quisquam voluptatum, voluptate, quibusdam, quia
                        | voluptas quod exercitationem quos voluptatibus quae doloribus
                        | quidem consequuntur.
                    .btn-blog
                        a.btn(href='#') Read More
            aside.aside
                h3 Other Blog Posts
                ul
                    li
                        a(href='#') The Evolution of Guitar: From Classical to Modern
                    li
                        a(href='#') Optimizing Your Guitar&apos;s Playability and Tone
                    li
                        a(href='#') Unleashing Creative Soundscapes with Pedal Magic
                    li
                        a(href='#') Famous Guitars in Rock History: Icons and Legends
