extends ./layout/index

block content
    .hero
    section.container.categories
        h2 Categories
        .list-categories
            .category
                .img
                    img(src='./assets/img/category1.webp' alt='Electric Guitars')
                a(href='') Electric Guitars
            .category
                .img
                    img(src='./assets/img/category2.webp' alt='Acoustic Guitars')
                a(href='') Acoustic Guitars
            .category
                .img
                    img(src='./assets/img/category3.webp' alt='Accessories')
                a(href='') Accessories
    section.about-us
        .container.about-grid
            .about-text
                h2 About Us
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere
                    | dignissimos obcaecati illum nulla commodi dolore temporibus
                    | architecto dolorum, sunt laborum mollitia tempora qui nisi.
                p
                    | Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    | Voluptatum molestiae dolorum commodi nobis accusantium!
    main.main-content.container
        h2 Our Products
        .list-products
            article.product
                img.product-img(src='./assets/img/product18.png' alt='product 0')
                .product-text
                    h3 Product 0
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
            article.product
                img.product-img(src='./assets/img/product2.webp' alt='product 2')
                .product-text
                    h3 Product 2
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
            article.product
                img.product-img(src='./assets/img/product11.webp' alt='product 1')
                .product-text
                    h3 Product 18
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
            article.product
                img.product-img(src='./assets/img/product4.webp' alt='product 4')
                .product-text
                    h3 Product 4
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
            article.product
                img.product-img(src='./assets/img/product3.webp' alt='product 3')
                .product-text
                    h3 Product 3
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
            article.product
                img.product-img(src='./assets/img/product17.png' alt='product 1')
                .product-text
                    h3 Product 17
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
            article.product
                img.product-img(src='./assets/img/product5.webp' alt='product 5')
                .product-text
                    h3 Product 5
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
            article.product
                img.product-img(src='./assets/img/product14.webp' alt='product 5')
                .product-text
                    h3 Product 5
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
            article.product
                img.product-img(src='./assets/img/product15.webp' alt='product 6')
                .product-text
                    h3 Product 3
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
            article.product
                img.product-img(src='./assets/img/product16.png' alt='product 6')
                .product-text
                    h3 Product 3
                    p
                        | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                        | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                        | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
