doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Guitar Store | E-commerce
    link(rel='icon' href='/img/icon.png')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/app.css')
header
    h1.title
        span Guitar
        |  Store
nav.navigation
    ul.container
        li
            a(href='index.html') Home
        li
            a(href='about.html') About Us
        li
            a(href='products.html') Shop
        li
            a(href='blog.html') Blog
        li
            a(href='contact.html') Contact Us
main.main-content.container
    h2 Explore Our Products
    .list-products-shop
        article.product-shop
            img.product-img(src='assets/img/product10.png' alt='product 0')
            .product-shop-text
                h3 Product 0
                p
                    | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                    | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                    | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
                p.product-price
                    strong Price:
                    |  $100
                a.btn.add-to-cart(href='#') Add to Cart
        article.product-shop
            img.product-img(src='assets/img/product4.webp' alt='product 0')
            .product-shop-text
                h3 Product 0
                p
                    | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                    | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                    | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
                p.product-price
                    strong Price:
                    |  $100
                a.btn.add-to-cart(href='#') Add to Cart
        article.product-shop
            img.product-img(src='assets/img/product5.webp' alt='product 0')
            .product-shop-text
                h3 Product 0
                p
                    | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                    | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                    | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
                p.product-price
                    strong Price:
                    |  $100
                a.btn.add-to-cart(href='#') Add to Cart
        article.product-shop
            img.product-img(src='assets/img/product6.webp' alt='product 0')
            .product-shop-text
                h3 Product 0
                p
                    | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                    | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                    | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
                p.product-price
                    strong Price:
                    |  $100
                a.btn.add-to-cart(href='#') Add to Cart
        article.product-shop
            img.product-img(src='assets/img/product7.webp' alt='product 0')
            .product-shop-text
                h3 Product 0
                p
                    | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                    | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                    | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
                p.product-price
                    strong Price:
                    |  $100
                a.btn.add-to-cart(href='#') Add to Cart
        article.product-shop
            img.product-img(src='assets/img/product8.webp' alt='product 0')
            .product-shop-text
                h3 Product 0
                p
                    | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                    | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                    | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
                p.product-price
                    strong Price:
                    |  $100
                a.btn.add-to-cart(href='#') Add to Cart
        article.product-shop
            img.product-img(src='assets/img/product3.webp' alt='product 0')
            .product-shop-text
                h3 Product 0
                p
                    | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                    | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                    | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
                p.product-price
                    strong Price:
                    |  $100
                a.btn.add-to-cart(href='#') Add to Cart
        article.product-shop
            img.product-img(src='assets/img/product9.webp' alt='product 0')
            .product-shop-text
                h3 Product 0
                p
                    | Donec dapibus risus non efficitur facilisis. Etiam ac vulputate
                    | purus. Sed volutpat ac ligula ut lobortis. Aliquam erat volutpat.
                    | Morbi iaculis tempor eros, ac sagittis sem aliquet eu.
                p.product-price
                    strong Price:
                    |  $100
                a.btn.add-to-cart(href='#') Add to Cart
.lds-ring
    div
    div
    div
    div
footer.footer
    .container.grid-footer
        div
            h3 Categories
            ul
                li
                    a(href='#') Electric Guitars
                li
                    a(href='#') Acoustic Guitars
                li
                    a(href='#') Accessories
                // ...
        div
            h3 About Us
            ul
                li
                    a(href='about-us.html') Our Story
                li
                    a(href='mission-vision.html') Our Mission and Vision
                // ...
        div
            h3 Support
            ul
                li
                    a(href='#') Contact Us
                li
                    a(href='#') FAQ
                li
                    a(href='#') Shipping Information
                // ...
    p &copy; 2023 | Eder Benites
