doctype html
head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    title Guitar Store | E-commerce
    link(rel='icon' href='/img/icon.png')
    link(rel='preconnect' href='https://fonts.googleapis.com')
    link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
    link(href='https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/styles.css')
header
    h1.title
        span Guitar
        |  Store
nav.navigation
    ul.container
        li
            a(href='index.html') Home
        li
            a(href='about.html') About Us
        li
            a(href='products.html') Shop
        li
            a(href='blog.html') Blog
        li
            a(href='contact.html') Contact Us
main.main-content.container
    h2 Our Products
footer.footer
    .container.grid-footer
        div
            h3 Categories
            ul
                li
                    a(href='#') Electric Guitars
                li
                    a(href='#') Acoustic Guitars
                li
                    a(href='#') Accessories
                // ...
        div
            h3 About Us
            ul
                li
                    a(href='about-us.html') Our Story
                li
                    a(href='mission-vision.html') Our Mission and Vision
                // ...
        div
            h3 Support
            ul
                li
                    a(href='#') Contact Us
                li
                    a(href='#') FAQ
                li
                    a(href='#') Shipping Information
                // ...
    p &copy; 2023 | Eder Benites
