extends layout

block metas 
    title Hello
    meta(name="description" content="Description of the hello page")

block content
    main.container
        h1 Hello
        p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat deserunt porro culpa rerum eaque aliquid exercitationem distinctio, magni mollitia aut ipsum iusto adipisci, debitis ratione optio incidunt sit obcaecati sapiente?
        a(href="/") 🏠 Go to home.
